<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
    <div class="row acknowledgement">
         <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
         <section class="poweredby">Built on <a href="http://foundation.zurb.com" title="Foundation">Foundation</a> and proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>
