header#site-head.stock{
  -webkit-box-shadow: inset 0 0 7px #333;
  -moz-box-shadow: inset 0 0 7px #333;
  box-shadow: inset 0 0 7px #333;
}
header#site-head {
  background: #9dd9e3;
  margin-bottom: 3em;
  border-bottom: 1px solid #CFCFCF;
  padding-top: 0em;
  padding-bottom: 1.5em;
  min-height: 200px;
}
#site-head-content{
  text-align: center;
  padding-top: 1.5em;
  .blog-title{
    text-transform: uppercase;
    margin-bottom: 0;
    color: $offwhite;
  }
  .blog-description{
    color: $offwhite;
  }
}

#blog-logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid $offwhite;
  position: relative;
  margin: 1em auto 0;
}
